h1 {
	text-align: center;
}
.inputfield {
	height: 350px;
}
.btn-space-left {
	margin-left: 10px;
}
.btn-space-top {
	margin-top: 10px;
	margin-bottom: 10px;
}

.horizontalLine {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	padding-top: 0;
}

.imageToLeft {
	float: left;
	border-radius: 50%;
	margin-right: 15px;
}

.listStyling ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 21px;
	font-family: Garamond, serif;
}
.listStyling li {
	float: left;
}

.listStyling li a {
	color: black;
	text-align: center;
	padding-right: 10px;
	text-decoration: none;
}
