h1 {
	text-align: center;
}
.inputfield {
	height: 350px;
}
.btn-space-left {
	margin-left: 10px;
}
.btn-space-top {
	margin-top: 10px;
	margin-bottom: 10px;
}

.horizontalLineUp {
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
	margin: 0;
}

.horizontalLineDown {
	border-bottom: 1px solid #ccc;
	padding-top: 40px;
	margin: 0;
}

.imageToLeft {
	float: left;
	border-radius: 50%;
	margin-right: 15px;
}

.imagetoRight {
	float: right;
	border-radius: 50%;
	margin-right: 15px;
	margin-left: 15px;
}

.imageStyling {
	max-width: 80%;
	max-height: 80%;
}

.listStyling ul {
	list-style-type: none;
	margin: 5px;
	padding: 0;
	font-size: 21px;
	font-family: Garamond, serif;
}
.listStyling li {
	float: right;
}

.listStyling li a {
	color: white;
	text-align: center;
	padding-right: 10px;
	text-decoration: none;
}

.epic ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 21px;
	font-family: Garamond, serif;
}

.epic li {
	color: white;
	text-align: center;
	padding-right: 10px;
	text-decoration: none;
}

.surface {
	background-color: #1f1f1f;
}

.background {
	background-color: #101010;
}

.primary {
	background-color: #03dac6;
}

.secondary {
	background-color: #bb86fc;
}

.textcolor {
	color: white;
}

.jumbotron {
	padding: 1px;
}

.form-control:focus {
	border-color: #bb86fc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(255, 255, 255, 0.6);
}

p {
	color: #bf1650;
}

p::before {
	display: inline;
	content: '⚠ ';
}
